name: Build Desktop App
on: [push]
jobs:
  release:
    runs-on: windows-latest
    steps:
      - name: Check out git repository
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Build and Package
        run: npm run dist
      - name: Upload Executable
        uses: actions/upload-artifact@v3
        with:
          name: StarDominion-Windows
          path: dist/*.exe
